@import "vars.sass"

.hero
  background-color: $main
  height: 80vh
  display: flex
  align-items: center
  justify-content: center
  position: relative
  flex-direction: column
  >img
    height: 128px
    margin-bottom: 8px
  >h1
    font-size: 56px
    color: #fff
    position: relative
    display: inline-block
    flex-wrap: nowrap
    text-align: center
    z-index: 1
    span
      position: relative
      display: inline-block
      white-space: nowrap
      overflow: hidden
  .latest
    position: absolute
    width: 100%
    bottom: -30px
    right: 0
    .card
      padding: 16px
      margin: 16px
      display: inline-block
      float: right
      background-color: #fff
      box-shadow: 0px 6px 32px 3px rgba(#000, 0.1)


.about
  background-color: $dark-bg
  .cards
    max-width: 960px
    width: 90%
    margin: 0 auto
    padding: 32px 0 16px
    display: flex
    align-items: center
    justify-content: center
    .card
      background-color: #fff
      margin: 16px
      padding: 8px
      width: 100%
      max-width: 300px
      box-shadow: 0px 6px 32px 3px rgba(#000, 0.5)
      cursor: pointer
      text-align: center
      h1
        margin-bottom: 4px
      p
        font-size: 16px
        line-height: 1.6em

.brief
  background-color: #fafafa
  text-align: center
  margin: 64px auto
  max-width: 960px
  width: 90%
  h1
    font-size: 56px
    margin-bottom: 8px
  p
    line-height: 1.6em
    font-size: 20px
