@import "vars.sass"

.outreach
  max-width: 100%
  overflow: hidden

.outreach-item
  border-bottom: 1px solid rgba(#000, 0.1)
  padding: 8px 32px 8px 8px
  max-width: $section-width
  margin: 16px auto
  display: flex
  +max-width(760px)
    padding: 8px
    flex-wrap: wrap
    text-align: center
    margin: 8px auto
  align-items: center
  justify-content: center
  max-width: 95%
  img
    width: 300px
    margin: 0 auto
    +max-width(760px)
      max-width: 300px
  .txt
    p
      margin: 0 16px 16px
      text-align: left
      +max-width(480px)
        font-size: 14px
      +max-width(760px)
        text-align: center  
    h2
      font-size: 32px
      margin: 16px
      +max-width(480px)
        font-size: 24px
